<html>

<head>
    <title>
        System of linear equations solution using Gaussian elimination
    </title>
    <meta http-equiv='Content-Type' content='text/html;charset=UTF-8'>
    <link rel='stylesheet' href='../stylesheets/gauss_latex.css'>
    <script src='../scripts/error.js'></script>
</head>

<body>
    <header>
        <h1>
				System of linear equations solution using Gaussian elimination
			</h1>
    </header>
    <p>This page helps to solve the system of linear equations using Gaussian elimination (also known as row reduction) with the general element.</p>
    <ul>Functions:
        <li>Displaying the input data (via tables that user allows to modify);</li>
        <li>Displaying the intermediate solutions;</li>
        <li>Displaying the X and E vectors (E = B-A*X).</li>
        <ul>
            <br>
            <form action='?' method='GET' id='form1'>
                <table class='b-form__table'>
                    <tr>
                        <th>
                            <label=c lass='b-form__label_head b-form__label_eqnumb-head'></label>
                        </th>
                        <th>
                            <label=c lass='b-form__label_head b-form__label_x1-head'></label>
                        </th>
                        <th>
                            <label=c lass='b-form__label_head b-form__label_empty'></label>
                        </th>
                        <th>
                            <label=c lass='b-form__label_head b-form__label_x2-head'></label>
                        </th>
                        <th>
                            <label=c lass='b-form__label_head b-form__label_empty'></label>
                        </th>
                        <th>
                            <label=c lass='b-form__label_head b-form__label_x3-head'></label>
                        </th>
                        <th>
                            <label=c lass='b-form__label_head b-form__label_empty'></label>
                        </th>
                        <th>
                            <label=c lass='b-form__label_head b-form__label_x4-head'></label>
                        </th>
                        <th>
                            <label=c lass='b-form__label_head b-form__label_empty'></label>
                        </th>
                        <th>
                            <label=c lass='b-form__label_head b-form__label_b-head'></label>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <label class='b-form__label_eqnumber-1'>1)</label>
                        </td>
                        <td>
                            <input type='text' name='x_1' class='b-form__x1_1'>
                            </label>
                        </td>
                        <td>
                            <label class='b-form__label_plus-x'>*x1 +</label>
                        </td>
                        <td>
                            <input type='text' name='x_2' class='b-form__x2_1'>
                            </label>
                        </td>
                        <td>
                            <label class='b-form__label_plus-x'>*x2 +</label>
                        </td>
                        <td>
                            <input type='text' name='x_3' class='b-form__x3_1'>
                            </label>
                        </td>
                        <td>
                            <label class='b-form__table_plus-x'>*x3 +</label>
                        </td>
                        <td>
                            <input type='text' name='x_4' class='b-form__x4_1'>
                            </label>
                        </td>
                        <td>
                            <label class='b-form__table_plus-x'>*x4 =</label>
                        </td>
                        <td>
                            <input type='text' name='b' class='b-form__b_1'>
                            </label>
                        </td>
                    </tr>
                </table>
                <table class='b-form__button_table'>
                    <tr>
                        <td>
                            <input type='button' value='OK' class='b-form__ok_button'>
                        </td>
                    </tr>
                </table>
                <div class='b-form__solution_text'></div>
                <div id='solution'>
                    <div class='b-form__solution_table'></div>
                </div>
            </form>
</body>
<script type='text/javascript' src='../bower_components/jquery/jquery.js'></script>
<script type="text/javascript" src='../bower_components/MathJax/MathJax.js?config=TeX-AMS-MML_HTMLorMML-full'></script>
<script type="text/javascript" src='../bower_components/fraction.js/fraction.js'></script>
<script type='text/javascript' src='../scripts/settings.js'></script>
<script type='text/javascript' src='../scripts/init_settings.js'></script>
<script type='text/javascript' src='../scripts/component.js'></script>
<script type='text/javascript' src='../scripts/gauss_solution.js'></script>
<script type='text/javascript' src='../scripts/gauss_solver.js'></script>
<script>
    var g1 = new b_gauss('#form1');
</script>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-55317002-1', 'auto');
    ga('send', 'pageview');
</script>

</html>