td
{
    width: 50px;
    text-align: right;
}
.b-form__table
{
    width: 550px;
    text-align: center;
    margin: 0;
    border: 0;
    padding: 0;
}
.b-form__table td
{
    width:  50px;
    text-align: center;
    margin: 0;
    border: 0;
    padding: 0;
}
input
{
    size: '3';
    width: 50px;
    text-align: right;
}
.b-form__button_table
{
    width: 550px;
}
.b-form__ok_button
{
    float: right;
}
.b-form__solution_table
{
    text-align: right;
}